<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello EJS Template Engine</h1>
    <p><b>ชื่อ : </b> <%= name %></p>
    <p><b>อายุ : </b> <%= age %> ปี</p>
    <p><b>ที่อยู่ : </b> <%- address %></p>
    <hr>

    <% for(i=1;i<=10;i++) {%>
        <p>ลำดับที่ <%= i %></p>
    <% } %>

</body>
</html>